<!--*********************************************************-->
<!--热门歌曲的-->
<div class="main_paihan">
    <ul class="list-group">

        <li class="list-group-item">
            <div class="pull-right m-l icon33">
                <a title="收藏" href="#" class="m-r-sm"><i class="icon ion-heart aaa"></i></a>
                <a title="添加到播放列表" href="#" class="m-r-sm"><i class="icon ion-ios-plus"></i></a>
                <a title="分享" href="#"><i class="icon ion-ios-upload"></i></a>
            </div>
            <a href="#" class="jp-play-me m-r-sm pull-left">
                <span class="num">1.</span><i class="icon ion-android-arrow-dropright-circle"></i>
            </a>
            <div class="clear text-ellipsis">
                <a href="#"><span class="songtime">晴天</span></a>
                <span class="text-muted">04:29</span>
            </div>
        </li>

    </ul>
</div>

<!--*********************************************************-->
<!--专辑的-->
<div class="mod_part">
    <div class="part_hd">
        <h2 class="part_tit">专辑</h2>
        <a href="#" class="part_more">更多 ></a>
    </div>
    <ul class="playlist_list mod_playlist">

        <li class="playlist_item">
            <div class="he_ZoomInImg-singerAlbum">
                <img class="he_ZoomInImg_img-singerAlbum"
                     src="img/T002R300x300M0000009C3rp3Kfwg0.jpg"/>

                <div class="he_ZoomInImg_caption-singerAlbum">
                    <p class="he_ZoomInImg_caption_p-singerAlbum" style="margin-bottom:0px;">
                        <img
                                src="https://y.gtimg.cn/mediastyle/yqq/img/cover_play@2x.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006&v=88abebcbc1242dbbbbc836cc3e04a006&v=10e4305a2558d496548955434eaa30d9"
                                width="55px" height="55px">
                    </p>

                </div>
            </div>
            <h4 class="playlist_title">
						<span class="playlist_title_txt">
							<a href="#" class="js_album" title="Mojito">Mojito</a>
						</span>
            </h4>
            <div class="playlist_other">
                2020-6-12
            </div>
        </li>


    </ul>
</div>


<!--*********************************************************-->
<!--mv的-->
<div class="mod_part">
    <div class="part_hd">
        <h2 class="part_tit">MV</h2>
        <a href="#" class="part_more">更多 ></a>
    </div>
    <ul class="mv_list_list">

        <li class="mv_list_item mv_list_slide_item">
            <div class="he_ZoomInImg-zjhmv">
                <img class="he_ZoomInImg_img-zjhmv"
                     src="img/T015R640x360M10100061J2t0b0PPW.jpg"/>

                <div class="he_ZoomInImg_caption-zjhmv">
                    <p class="he_ZoomInImg_caption_p-zjhmv" style="margin-bottom:0px;">
                        <img
                                src="https://y.gtimg.cn/mediastyle/yqq/img/cover_play@2x.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006&v=88abebcbc1242dbbbbc836cc3e04a006&v=10e4305a2558d496548955434eaa30d9"
                                width="55px" height="55px">
                    </p>

                </div>
            </div>

            <h3 class="mv_list_title">
                <a href="#">晴天</a>
                <h5> 5157.7万 </h5>
            </h3>


        </li>


    </ul>

</div>


<!--***********************************************************-->
<!--相似歌手-->
<div class="mod_part">
    <div class="part_hd">
        <h2 class="part_tit">相似歌手</h2>
    </div>
    <div class="mod_singer_list">
        <ul class="singer_list_list">

            <li class="singer_list_item">
                <div class="singer_list_item_box">
                    <a href="#" class="singer_list_cover" title="林俊杰">
                        <img class="singer_list_pic" src="img/林ge.jpg"/>
                    </a>
                    <h3 class="singer_list_title">
                        <a href="#">林俊杰</a>
                    </h3>
                </div>
            </li>

        </ul>
    </div>
</div>